.landing-page-wrapper {
  width: 100%;
  padding: 0 250px;
  background-image: url('../../../assets/images/page-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.full-width {
  width: calc(100% + 500px);
  margin-left: -250px;
  margin-right: -250px;
  padding-top: 130px;
}
