.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 90px;
  background: rgb(255 255 255 / 60%);
  font-size: 20px;
  padding-top: 40px;
}

.logo_navigation {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 64px;
}
