.conditions-section-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 585px;
  padding-top: 130px;
}

.conditions-h2-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.h2-conditions-text {
  font-weight: 900;
}

.conditions-list {
  position: relative;
  z-index: 2;
  display: flex;
  color: rgb(13 13 13 / 100%);
  flex-direction: column;
  gap: 40px;
  padding-right: 76px;
}

.list-points {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.blue-path {
  width: 156px;
}

.gap-container {
  height: 100%;
}

.point-restangle-container {
  position: relative;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
}

.point-restangle {
  position: absolute;
  width: 28px;
  height: 28px;
  background: linear-gradient(rgb(255 255 255 / 40%), rgb(255 255 255 / 40%)), #47c6e8;
  border-radius: 5.6px;
}

.b2-bold {
  color: rgb(13 13 13 / 100%);
  font-weight: bold;
}

.ellipse-1 {
  position: absolute;
  top: 50%;
  left: 34%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

@media screen and (width <= 1440px) {
  .conditions-list {
    padding-right: 0;
  }

  .conditions-section-wrapper {
    gap: 225px;
  }
}

@media screen and (width <= 820px) {
  .conditions-section-wrapper {
    gap: 0;
  }

  .conditions-list {
    width: 50%;
  }
}

@media screen and (width <= 768px) {
  .conditions-section-wrapper {
    align-items: center;
    flex-direction: column;
    gap: 75px;
  }

  .h2-conditions-text {
    text-align: center;
  }

  .conditions-list {
    width: 100%;
  }
}
