.gray-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 408px;
  background: url('../../../../assets/images/pink-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 130px;
}

.gray-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 375px;
}

.gray-section-title {
  width: 100%;
  padding: 69px 62px 69px 85px;
  color: #0d0d0d;
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0.02em;
}

.gray-weight-text {
  margin: 0;
  color: rgb(71 198 232 / 100%);
}

@media screen and (width <= 1440px) {
  .gray-section-container {
    padding: 0 90px;
  }
}

@media screen and (width <= 820px) {
  .gray-section-title {
    padding: 0;
    font-size: 28px;
  }
}

@media screen and (width <= 481px) {
  .gray-section-container {
    padding: 24px;
  }

  .gray-section-title {
    font-size: 22px;
  }
}
