.main-section-button {
  width: 526px;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  background-color: #155ce7;
  border-radius: 12px;
  font-size: 20px;
}

@media screen and (width <= 820px) {
  .main-section-button {
    width: 50%;
  }
}
